.settings
.idea
.swap
bin
frameworks/runtime-src/proj.android-studio/app/gen
frameworks/runtime-src/proj.android-studio/app/bin
frameworks/runtime-src/proj.android-studio/app/out
frameworks/runtime-src/proj.android-studio/app/target
frameworks/runtime-src/proj.android-studio/app/assets
frameworks/runtime-src/proj.android-studio/app/libs/armeabi/libcocos2dcpp.so
frameworks/runtime-src/proj.android-studio/app/gen-external-apklibs
frameworks/runtime-src/proj.android-studio/app/.idea
frameworks/runtime-src/proj.android-studio/app/obj
frameworks/runtime-src/proj.android-studio
frameworks/runtime-src/proj.ios_mac
frameworks/runtime-src/proj.android
frameworks/cocos2d-x
frameworks/runtime-src/Classes
proj.wp8-xaml/Debug
proj.wp8-xaml/ARM
proj.wp8-xaml/App/Bin
proj.wp8-xaml/App/Obj
proj.wp8-xaml/AppComponent/Debug
proj.wp8-xaml/AppComponent/Release
proj.wp8-xaml/AppComponent/ARM
proj.wp8-xaml/ipch
proj.wp8-xaml/Release
proj.blackberry
proj.linux
proj.marmalade
proj.tizen
proj.win32
proj.winrt
frameworks/runtime-src/proj.android-studio/app//project.properties
*.iml
proj.ios_mac/iOS.app

frameworks/cocos2d-x/cocos/2d/Debug.win32

# Xcode
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
Pods/
Podfile.lock

frameworks/cocos2d-x/cocos/2d/Debug
frameworks/cocos2d-x/cocos/2d/Arm
frameworks/cocos2d-x/cocos/platform/android/java/bin
frameworks/cocos2d-x/cocos/platform/android/java/gen
frameworks/cocos2d-x/cocos/platform/android/ControllerManualAdapter/bin
frameworks/cocos2d-x/cocos/platform/android/ControllerManualAdapter/gen

frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build

samples.zip
cocos2dx-extensions Mac-own-target-headers.hmap
cocos2dx-extensions Mac-all-target-headers.hmap
cd2str.py

frameworks/cocos2d-x/cocos/editor-support/spine/proj.wp8/ARM
frameworks/cocos2d-x/cocos/editor-support/spine/proj.wp8/Debug
frameworks/cocos2d-x/cocos/editor-support/spine/proj.wp8/Release
frameworks/cocos2d-x/external/Box2D/proj.wp8/ARM

/tools/android_pack/apk
/tools/android_pack/apk_debug
/tools/ios_pack/ipa


frameworks/runtime-src/proj.android_*/assets
frameworks/runtime-src/proj.android_*/jni
frameworks/runtime-src/proj.android_*/libs
frameworks/runtime-src/proj.android_*/bin
frameworks/runtime-src/proj.android_*/gen
frameworks/runtime-src/proj.android_*/obj
frameworks/runtime-src/proj.android_*/out

/tools/android_pack/temp
Resources_encode


/tools/android_pack/temp
Resources_encode

Resources_copy

#ant
frameworks/cocos2d-x/cocos/platform/android/java/local.properties
frameworks/runtime-src/proj.android_*/local.properties
frameworks/runtime-src/proj.android-studio/app/local.properties



#mk file
#frameworks/cocos2d-x/cocos/Android.mk
#frameworks/runtime-src/proj.android-studio/app/jni/Android.mk
#frameworks/runtime-src/proj.android-studio/app/jni/Application.mk
frameworks/runtime-src/proj.android-studio/app/libs/armeabi/gdb.setup
frameworks/runtime-src/proj.android-studio/app/libs/armeabi/gdbserver
frameworks/runtime-src/proj.android-studio/app/libs/armeabi/libcocos2dlua.so

frameworks/runtime-src/proj.android-studio/app/obj
frameworks/runtime-src/proj.android-studio/app/libs

runtime/*
publish/*


tool.txt


res_raw
src_raw
res_raw_android
src_raw_android
*.iml
**/*.iml
tools/tiny_png_tmp
res/